* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid black;
}
.nav-items {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: black;
  padding: 25px 50px;
  font-weight: 300;
  border-right: 1px solid black;
  transition: 0.5s all ease;
}
.nav-items a:hover {
  background-color: black;
  color: #d6ff38;
}
.logo a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bolder;
}
.logo {
  width: 15%;
  padding: 23px;
  border-right: 1px solid black;
  background-color: #d6ff38;
  text-align: center;
}
.login {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.login .icon {
  text-decoration: none;
  color: black;
  border: none;
}
.login .icon:hover {
  background-color: transparent;
  color: black;
}
.login span {
  font-size: 18px;
  color: black;
  font-weight: lighter;
  padding: 0 5px;
}
.fa-circle-user {
  font-size: 25px;
}
.cart {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: -20px;
}
.fa-cart-shopping {
  font-size: 25px;
}
.name {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #d6ff38);
}
.title {
  font-size: 50px;
}
.t-shirt-section {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 100px;
}
.t-shirt {
  overflow: hidden;
}
.t-shirt img {
  cursor: pointer;
  transition: transform 0.5s ease;
}
.t-shirt:hover img {
  transform: scale(1.2);
}
.t-shirt .product {
  margin-top: 20px;
}
